include locs/*
include scripts/*
include src/*
include tests/*.py
include setup.py
include VERSION
include CHANGELOG
include README
include LICENSE
include LICENSE-GPL
include install_required.sh
include install_recommended.sh
include ez_setup.py
include setup.py
include doc/*.tex
include doc/*.bib
include doc/*.sty
include doc/*.jpg
include doc/plot_uv1.png
include doc/module_doc/*.pt
include doc/module_doc/*.py
include doc/module_doc/*.sh
include doc/module_doc/py2tex
include MANIFEST.in
include src/_cephes/*
include src/_cephes/cephes/*
include src/_cephes/c_misc/*
include src/_deconv/*
include src/_healpix/*
include src/_healpix/cxx/COPYING
include src/_healpix/cxx/cxxsupport/*.h
include src/_healpix/cxx/cxxsupport/*.cc
include src/_healpix/cxx/Healpix_cxx/*.h
include src/_healpix/cxx/Healpix_cxx/*.cc
include src/_healpix/cxx/libfftpack/*.h
include src/_healpix/cxx/libfftpack/*.c
include src/_miriad/*
include src/_miriad/mir/*.c
include src/_miriad/mir/*.h
include src/_src/*
include src/optimize/*
include src/utils/*
