include install_dependencies.sh
include ez_setup.py
include setup.ez
include src/_healpix/cxx/cxxsupport/*.h
include src/_healpix/cxx/cxxsupport/*.cc
include src/_healpix/cxx/Healpix_cxx/*.h
include src/_healpix/cxx/Healpix_cxx/*.cc
include src/_miriad/*.h
include src/_miriad/mir/*.h
include README
include LICENSE
include LICENSE-GPL
include doc/*.tex
include doc/*.png
include doc/*.jpg
exclude old
