name: Publish Python distributions to PyPI

on:
  release:
    types: [published, created, edited]

jobs:
  build-n-publish:
    name: Make Release on PyPI and Github
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Build Tools
        run: pip install build

      - name: Build a binary wheel and a source tarball
        run: |
          python -m build .
          ls dist/

      - name: Publish to PyPI
        if: startsWith(github.event.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.pypi_password }}